
div.thingsList { border: 1px solid blue; }

div.attribs { border: 1px solid blue; }

div.indent_1 { padding-left: 10px; }
div.indent_2 { padding-left: 20px; }
div.indent_3 { padding-left: 30px; }

span.title { 
  padding-right: 0.5em;
  width: 4em;
  display: block;
  float: left; 
}

.objButton {
  cursor: pointer;
  padding-left: 0.5em;
}

.thingButton, .button {
  cursor: pointer;

}

.button {
  border: 1px solid gray; 
  width: 100px; 
}

.activeItemsList li {
  border: 1px solid grey;
  width: 200px;
  cursor: pointer;
}

.activeItemsList li:hover {
  background-color: rgb(181, 232, 255);
  color: white;
}

.activeItemsList li div {
  float:left;
  width: 70%;
}

.activeItemsList li div:hover {
  background-color: rgb(21, 19, 151);
}

.activeItemsList li span:hover {
  background-color: rgb(255, 61, 61);
}



.activeItemTitle {
  font-weight: bold;
  font-size: larger;

}


.textareaLong {
  height: 1.2em;
  width: 70%;
}

.textareaShort {
  height: 1.2em;
  width: 35%;
}

.missingDefaults {
  background-color: beige;
}