
div.thingsList { border: 1px solid blue; }

div.attribs { border: 1px solid blue; }

div.indent_1 { padding-left: 10px; }
div.indent_2 { padding-left: 20px; }

span.title { 
  padding-right: 0.5em;
  width: 4em;
  display: block;
  float: left; 
}

.objButton {
  cursor: pointer;
  padding-left: 0.5em;
}

.thingButton, .button {
  cursor: pointer;
}

.textareaLong {
  height: 1.2em;
  width: 70%;
}

.textareaShort {
  height: 1.2em;
  width: 35%;
}

.missingDefaults {
  background-color: beige;
}